* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background: #F0F0F7;
}

.side-nav {
    float: left;
    height: 100vh;
    width: 200px;
    background: #4c2882;
    display: flex;
    justify-content: center;
    position: fixed;
    overflow-x: hidden;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 25px;
}

.side-nav ul li {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    background: #3ED62AF2;
    border-radius: 8px;
    transition: 0.2s;
}

.side-nav ul li a {
    text-decoration: none;
    color: white;
}

.side-nav ul li:hover {
    background: #28aa17f2;
}

.content {
    margin-left: 200px;
}

/* Form */
.form-register {
    display: flex;
    justify-content: center;
}

.form-register fieldset {
    padding: 15px;
    margin-top: 25px;
    border: 0;
}

.form-register input {
    margin: 8px;
    border-radius: 50px;
    padding: 5px;
    border: none;
    outline: none;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
}

.form-register button {
    padding: 5px;
    background: #3ED62AF2;
    border-radius: 5px;
    color: white;
    outline: none;
    border: 0;
    font-size: 14px;
    transition: 0.2s;
}

.form-register button+button {
    background: #d62a38f2;
    margin-left: 5px;
}

.form-register button:hover {
    background: #28aa17f2;
}

.form-register button+button:hover {
    background: #a71b27f2;
}


/* Tabela de resultados */
table {
    border: solid 1px black;
}

table td {
    margin: 30px;
    padding: 5px;
}

table td a {
    padding: 5px;
    margin: 3px;
    color:white;
    text-decoration: none;
    border-radius: 8px;
    background: #352ad6f2;
    transition: 0.2s;
}

table td a:hover {
    background: #2117acf2;
}

table td a+a {
    padding: 5px;
    margin: 3px;
    color:white;
    text-decoration: none;
    border-radius: 8px;
    background: #d62a38f2;
}

table td a+a:hover {
    background: #a71b27f2;
}