<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-register">
        <form action="/update-contacts" method="POST">
            <fieldset>
                <input type="hidden" value="<%= contact.id %>" name="id">
                <label for="name">Nome:</label>
                <input type="text" name="name" placeholder="Informe o nome do cliente" value="<%= contact.name %>" required>
                <label for="email">E-mail:</llabel>
                <input type="text" name="email" placeholder="Informe o e-mail" value="<%= contact.email%>" required>
                <label for="phone">Telefone:</label>
                <input type="number" name="phone" placeholder="Informe o telefone" value="<%= contact.phone %>" required>

                <button type="submit" id="btnSave">Salvar</button>
                <button type="reset" id="btnReset">Cancelar</button>
            </fieldset>
        </form>
    </div>
</body>
</html>